<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dohaeng.com.bubang">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity_Splash"
            android:theme="@style/SplasyTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity_Login">

        </activity>
        <activity
            android:name=".Activity_Main"
            android:label="@string/app_name"/>
        <activity
            android:name=".Activity_Pw"/>
        <activity
            android:name=".Activity_Signup" />
        <activity
            android:name=".Activity_MasterLogin"/>
        <activity
            android:name=".Activity_Information"/>
        <activity
            android:name=".Activity_Member"/>
        <activity
            android:name=".Activity_Confirm"/>
        <activity
            android:name=".Activity_Enrollment"/>
        <!--<activity-->
            <!--android:name=".Activity_Enrollment2"/>-->
        <!--<activity-->
            <!--android:name=".Activity_Enrollment3"/>-->
        <!--<activity-->
            <!--android:name=".Activity_Enrollment4"/>-->
        <activity android:name=".Activity_Mypage"/>
        <activity android:name=".Activity_Nmap"/>


        <activity android:name=".Activity_BackDialog"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity android:name=".Activity_Dialog"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"/>




    </application>

</manifest>